@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar-thumb {
    background-color: #2d81ff;
}

body::-webkit-scrollbar {
    width: 7px;
}

::selection {
    color: #fff;
    background: #efa900;
}