header {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;
    background-color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.menu {
    background-color: black;
    width: 20%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.menu span {
    color: #fff;
    font-size: 2.3rem;
    cursor: pointer;
}

.logo h1 {
    font-size: 2rem;
    font-weight: bold;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    width: 30vw;
    margin-right: 5%;
}

.nav-list li {
    font-size: 1.2rem;
    margin-left: 5%;
    list-style: none;
    cursor: pointer;
    transition: 0.6s;
}

li:nth-child(4) {
    color: #000;
    font-weight: bold;
}

.nav-list li:hover {
    font-weight: bold;
    color: #000;
    transform: scale(1.3);
}

@media screen and (max-width:780px) {
    header {
        height: 5vh;
    }

    nav {
        width: 100%;
    }

    .menu {
        display: flex;
    }

    .logo {
        position: absolute;
        left: 35%;
    }

    .nav-list {
        display: none;
    }
}